
.modal-header {
  h5 {
    margin: 0 !important;
  }
}

form.create_user {
  padding: 20px;

  label {
    font-weight: bold;
    text-align: right;
    font-size: 14px
  }
}

.create_circle_btn {
  margin: 20px 0;
}
