.modal-header {
  h5 {
    margin: 0 !important;
  }
}

form.create_user {
  padding: 20px;

  label {
    font-weight: bold;
    text-align: right;
    font-size: 14px
  }
  .toggle_password{
    position: absolute;
    top: 8px;
    right: 25px;
    cursor: pointer;
  }
}
