<div class="modal-header d-flex align-items-center justify-content-center">
  <h5>Create new role</h5>
</div>
<div class="modal-body">
  <form [formGroup]="newRoleForm" (ngSubmit)="createNewRole()">
    <div class="form-group">
      <label for="name" class="d-flex col-md-12">
        Role name
        <span class="required_badge">*</span>
      </label>
      <div class="col-md-12">
        <input [ngClass]="{
          'has_danger': newRoleForm.get('name').invalid && (newRoleForm.get('name').dirty || newRoleForm.get('name').touched),
          'has_success': newRoleForm.get('name').valid && (newRoleForm.get('name').dirty || newRoleForm.get('name').touched)
          }"
               formControlName="name" type="text" class="form-control" id="name"
               placeholder="Role name">
        <div class="login_error" *ngIf="newRoleForm.get('name').invalid&&newRoleForm.get('name').touched">
          <fa-icon [icon]="errorForm"></fa-icon>
          {{getErrorNameMessage()}}
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-between modal_action_footer">
      <button type="button" class="app_btn" (click)="onFormClose()">Cancel</button>
      <button [disabled]="newRoleForm.pending" class="app_btn login_btn">Save</button>
    </div>
  </form>
</div>
