<app-system-loader *ngIf="!isLoaded"></app-system-loader>
<div class="accounts_wrapper" *ngIf="isLoaded">
  <div *ngIf="checkPermission('USER_GET')">
    <a *ngIf="checkPermission('USER_ADD')" class="create_circle_btn d-flex justify-content-center align-items-center"
       tooltipPosition="left" pTooltip="New account"
       showDelay="200" hideDelay="200"
       (click)="createNewUserModal()">
      <fa-icon class="add_icon" [icon]="faPlus"></fa-icon>
    </a>
    <div class="d-flex justify-content-between">
      <div class="col-md-6" style="padding: 0">
        <input (keyup)="updateDataTable($event)" class="form-control" type="text" placeholder="Search">
      </div>
      <button class="refresh_table_btn"
              tooltipPosition="top" pTooltip="Refresh table"
              showDelay="200" hideDelay="200"
              (click)="refreshData()">
        <fa-icon [icon]="faSyncAlt"></fa-icon>
      </button>
    </div>
    <ngx-datatable
      #table
      class="material"
      [rows]="rows|async"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [columnMode]="'flex'"
      [externalPaging]="true"
      [offset]="page.pageNumber"
      [limit]="page.size"
      [count]="accountService.totalUserCount"
      (page)='setPage($event)'
    >
      <ngx-datatable-column name="Name" [flexGrow]="2">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span>
          {{row.name}}
        </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" [flexGrow]="3">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span>
          {{row.email}}
        </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Client role" [flexGrow]="2">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span class="role_title">
          {{row.role_title}}
        </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="checkPermission('USER_ACTIVATE')&&checkPermission('USER_DISABLE')" name="Status" [sortable]="false" [flexGrow]="1">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <ui-switch [ngModel]="row.enabled"
                     (change)="onChangeStatus(row.enabled,row.id)"></ui-switch>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" headerClass="action_data_table"
                            [cellClass]="'action_data_table'" [sortable]="false" [flexGrow]="1">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <div class="btn-group" dropdown placement="bottom right">
            <button id="button-basic" dropdownToggle type="button" class="btn table_action_btn"
                    aria-controls="dropdown-basic">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right table_dropdown"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item"
                   routerLink="{{row.id}}"
                >
                  <fa-icon [icon]="faInfo"></fa-icon>
                  <span>Details</span>
                </a>
              </li>
              <li role="menuitem">
                <a *ngIf="checkPermission('USER_UPDATE')" class="dropdown-item"
                   (click)="editCurrentUserModal(row.id)"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                  <span>Edit</span>
                </a>
              </li>
              <li role="menuitem">
                <a *ngIf="checkPermission('USER_REMOVE')" class="dropdown-item"
                   (click)="openModal(template,row.id, row.email)"
                >
                  <fa-icon [icon]="faDelete"></fa-icon>
                  <span>Delete</span>
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <ng-template #template>
      <div class="modal-header">
        <h5 style="text-align: center" class="modal-title pull-left">Are you sure you want to delete <strong>{{deletedUser}}</strong>?
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="app_btn" (click)="onDeleteUser()">Yes</button>
        <button type="button" class="app_btn" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
      </div>
    </ng-template>
  </div>
</div>

