<p>
  home works!
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.
  When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.When the router navigates to this route, it uses the loadChildren string to dynamically load the AdminModule. Then it adds the AdminModule routes to its current route configuration. Finally, it loads the requested route to the destination admin component.

  The lazy loading and re-configuration happen just once, when the route is first requested; the module and routes are available immediately for subsequent requests.

</p>
