<app-modal-sm-loader *ngIf="!isLoaded"></app-modal-sm-loader>
<div *ngIf="isLoaded">
  <div class="modal-header justify-content-center">
    <h5 class="modal-title">Edit account</h5>
  </div>
  <div class="modal-body">
    <form class="modal_form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" class="col-md-12 d-flex">
          Name
          <span class="required_badge">*</span>
        </label>
        <div class="col-md-12">
          <input [ngClass]="{
          'has_danger': form.get('name').invalid && (form.get('name').dirty || form.get('name').touched),
          'has_success': form.get('name').valid && (form.get('name').dirty || form.get('name').touched)
          }"
                 formControlName="name" type="text" class="form-control" id="name"
                 placeholder="Name">
          <div class="login_error" *ngIf="form.get('name').invalid">
            <fa-icon [icon]="faExclamationCircle"></fa-icon>{{getErrorNameMessage()}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-12 d-flex">
          Email
          <span class="required_badge">*</span>
        </label>
        <div class="col-md-12">
          <input [ngClass]="{
          'has_danger': form.get('email').invalid && (form.get('email').dirty || form.get('email').touched),
          'has_success': form.get('email').valid && (form.get('email').dirty || form.get('email').touched)
          }"
                 formControlName="email" type="email" class="form-control" id="email"
                 placeholder="Email">
          <div class="login_error" *ngIf="form.get('email').invalid">
            <fa-icon [icon]="faExclamationCircle"></fa-icon>{{getErrorEmailMessage()}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="accountType" class="col-md-12 d-flex">
          Account Type
          <span class="required_badge">*</span>
        </label>
        <div class="col-md-12">
          <select [ngClass]="{
          'has_danger': form.get('role_id').invalid && (form.get('role_id').dirty || form.get('role_id').touched),
          'has_success': form.get('role_id').valid && (form.get('role_id').dirty || form.get('role_id').touched)
          }"
                  formControlName="role_id" class="form-control role_title" id="accountType">
            <option class="role_title" *ngFor="let userRole of userRoles" [value]="userRole.id">
              {{userRole.role}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-between modal_action_footer">
        <button type="button" class="app_btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
        <button [disabled]="form.invalid||form.pending" class="app_btn login_btn">Save</button>
      </div>
    </form>
  </div>
</div>
