<header class="main_header" *ngIf="isAuthorized">
  <a class="app_navigation_link" [routerLink]="['items']" routerLinkActive="active">Items</a>
  <a class="app_navigation_link" [routerLink]="['returns']" routerLinkActive="active">returns</a>
  <a class="app_navigation_link" [routerLink]="['accounts']" routerLinkActive="active">accounts</a>
  <a class="app_navigation_link" (click)="logout()">Log out</a>
</header>
<div>
  <app-notification></app-notification>
  <router-outlet></router-outlet>
</div>
