.show_more_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 15px;
  fa-icon {
    margin-left: 10px;
  }
}

.filter_chips {
  background: #000;
  color: #fff;
  margin: 0 2.5px 10px 2.5px;
  padding: 3px 10px;
  border-radius: 10px;
  display: table;
}
.dp_custom_visibility{
  height: 0;
  width: 0;
  display: block;
  margin: 0 auto;
  visibility: hidden;
}

