<app-system-loader *ngIf="!isLoaded"></app-system-loader>
<div class="accounts_wrapper" *ngIf="isLoaded">
  <div *ngIf="checkPermission('ACTIVITY_LIST')">
    <div class="d-flex justify-content-between" style="margin-bottom: 10px">
      <div class="col-md-6" style="padding: 0">
        <input [(ngModel)]="filterChipsSearch" (keyup)="contextDataTableSearch($event)"
               class="form-control" type="text"
               placeholder="Search">
      </div>
    </div>
    <form [formGroup]="myForm">
      <input type="text" (onHidden)="filterByDate()" class="dp_custom_visibility"
             bsDaterangepicker #dpr="bsDaterangepicker"
             formControlName="range"
             [bsConfig]="bsConfig"
             placement="bottom"/>
    </form>
    <div class="d-flex">
      <span *ngIf="filterChipsSearch!==''" class="filter_chips"
            tooltipPosition="top" [pTooltip]="'remove ' + '' + filterChipsSearch + '' + ' filter'"
            showDelay="100" hideDelay="100" tooltipStyleClass="tooltip_flex">
      <span>
        {{filterChipsSearch}}
      </span>
      <span (click)="clearFilter('search')">
        <fa-icon [icon]="cancelIcon"></fa-icon>
      </span>
    </span>
      <span *ngIf="filterChipsPeriod!==''" class="filter_chips"
            tooltipPosition="top" [pTooltip]="'remove ' + '' + filterChipsPeriod + '' + ' filter'"
            showDelay="100" hideDelay="100" tooltipStyleClass="tooltip_flex">
      <span>
        {{filterChipsPeriod}}
      </span>
      <span (click)="clearFilter('period')">
        <fa-icon [icon]="cancelIcon"></fa-icon>
      </span>
    </span>
    </div>
    <div class="system_table_wrapper">
      <table class="table system_table">
        <thead>
        <tr>
          <td style="width: 20%">
            <button class="filter_btn" (click)="dpr.show()">
              <span>
                Date
              </span>
              <fa-icon [ngClass]="isStatusFiltered?'isFiltered':''" [icon]="filterIcon"
                       tooltipPosition="top" pTooltip="Filter"
                       showDelay="100" hideDelay="100"></fa-icon>
            </button>
          </td>
          <td style="width: 30%">User</td>
          <td style="width: 50%">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows|async">
          <td>
            {{row.createdAt | date : "yyyy.MM.dd HH:mm"}}
          </td>
          <td>
            {{row.username}}
          </td>
          <td>
            {{row.text}} {{row.name}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="table_footer" *ngIf="!isProcessing">
        <div class="total_count">
          <span>Total: </span>
          {{activitiesService.totalActivitiesCount}}
        </div>
        <span class="show_more_btn" *ngIf="page.pageNumber+1<showPagination"
              (click)="updateTablePagination($event)">
            Show more
            <fa-icon [icon]="showMoreIcon"></fa-icon>
          </span>
      </div>
      <div *ngIf="isProcessing" class="table_processing_loader">
        <app-opacity-loader></app-opacity-loader>
      </div>
    </div>
  </div>
</div>

