/* You can add global styles to this file, and also import other style files */
//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

$successGreen: #36cc27;
$mainGreyColor: #878787;
$hasDanger: #d35143;
$btnBackground: #e1dcd6;
$brightBoxShadow:0 3px 10px rgba(0, 0, 0, 0.2);
$iconSizeCircle: 20px;

body {
  background-color: #fbfafa !important;
}

input, select, textarea {
  box-shadow: none !important;
  border-color: #d6d9dc !important;
  cursor: pointer;
}
button{
  outline: none !important;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}
fa-icon{
  cursor: pointer;
}
//NGX_DATABASE
ngx-datatable {
  box-shadow: $brightBoxShadow;
  margin-bottom: 25px;
  .datatable-body-row{
    display: initial!important;
  }
  .datatable-body {
    background: #fff;
  }
  .datatable-body-cell-label {
    color: #000;
  }
  .datatable-row-group {
    border-bottom: 1px solid #f7f7f7;
    &:hover {
      background-color: #f7f7f7 !important;
    }
  }
  .datatable-body-cell {
    display: flex !important;
    align-items: center;
    padding: 20px;
    overflow: inherit!important;
  }
  datatable-header {
    background-color: #f7f7f7 !important;
    display: flex !important;
    align-items: center;
    .datatable-header-cell-template-wrap {
      font-weight: bold;
      font-size: 14px;
      color: $mainGreyColor;
      padding: 20px;
    }
    .action_data_table{
      text-align: center;
    }
  }
  .table_action_btn {
    background: none;
    color: #000;
    box-shadow: none!important;
  }
  .table_dropdown{
    min-width: 8rem;
    padding: 0;
    box-shadow: $brightBoxShadow;
    li{
      a{
        padding: 10px 15px;
        &:active{
          background: none;
          color: #000;
        }
      }
    }
    fa-icon{
      margin-right: 5px;
    }
  }
  .datatable-footer {
    background: #fbfafa;
    padding: 10px 20px;
    .datatable-pager {
      .pager {
        display: flex !important;
        justify-content: flex-end;
        li {
          margin-left: 10px !important;
          &:not(.disabled):hover {
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          }
          a {
            width: 30px;
            height: 30px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            text-decoration: none !important;
            color: #000;
            background-color: #fff;
            i {
              display: flex;
            }
          }
        }
        li.active a {
          background-color: #000 !important;
          color: #fff !important;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .page-count {
      font-weight: bold;
      font-size: 14px;
      color: #878787;
    }
  }
  .action_data_table{
    justify-content: center;
  }
  .datatable-row-detail{
    background-color: #f7f7f7 !important;
    padding: 20px 40px;
    .details_subTitle{
      font-weight: bold;
      font-size: 14px;
      color: #878787;
    }
  }
}
.refresh_table_btn{
  border: none;
  background: #000;
  cursor: pointer;
  height: 30px;
  width: 60px;
  margin: 0 0 15px 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: .3s linear;
  fa-icon{
    color: #fff;
    }
  &:hover svg{
    transition: .3s linear;
    color: #000;
    transform: rotate(360deg);
  }
  &:hover{
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  }
}
//END DATABASE

//ERROR FORM CLASSES
.has_danger {
  border: 1px solid $hasDanger !important;
}

.login_error {
  padding: 5px 10px;
  color: $hasDanger;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  background: #f2cac6;
  border-radius: 5px;
  fa-icon {
    font-size: 15px;
    margin-right: 5px;
  }
}

.required_badge {
  font-weight: bold;
  color: $hasDanger;
  margin-left: 3px;
}

.form-group {
  margin-bottom: 30px !important;
}

//END ERROR FORM CLASSES

//MODALS
.modal_action_footer {
  padding: 10px 0;
}
.modal_form{
  padding: 0 20px;
  label{
    font-weight: bold;
    font-size: 14px
  }
}

//END MODALS
//FORMS
.separate_form{
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  margin: 25px 0;
  label{
    font-weight: bold;
    font-size: 14px
  }
  .image_change_wrapper{
    position: relative;
    display: table;
    .to_default_photo{
      position: absolute;
      z-index: 9;
      right: 5px;
      top: 0px;
      color: red;
      cursor: pointer;
      font-size: 20px;
      transition: 0.1s linear;
    }
  }
}
//END FORMS
//APP BUTTON CLASSES
.app_btn {
  background: $btnBackground;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  padding: 7px 30px;
  color: $mainGreyColor;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: .1s ease-in;
  &:hover:not(:disabled){
    background: black;
    color: #fff;
  }
}

.app_btn:not(:disabled) {
  cursor: pointer;
}

.app_btn:disabled {
  cursor: not-allowed;
}

//END APP BUTTON CLASSES
.has_success {
  border: 1px solid $successGreen !important;
}

.ui-growl-message-success {
  background: $successGreen !important;
}

.success_alert {
  position: fixed !important;
  z-index: 999;
  width: 300px !important;
  left: 50% !important;
  margin-left: -150px !important;
  top: 0;
  color: #fff;
  background: $successGreen !important;
  text-align: center;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  p {
    margin: 0;
  }
}

.create_circle_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: black;
  padding: 25px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: #fff!important;
  .add_icon{
    color: #fff;
    font-size: 16px;
  }
}

ui-switch {
  display: inline-block;
  .switch {
    width: 44px !important;
    height: 20px !important;
    small {
      width: 25px !important;
      height: 25px !important;
      top: -3px !important;
    }
  }
  .switch-medium {
    background-color: rgba(0, 0, 0, .38) !important;

  }
  .switch.checked {
    background-color: $successGreen !important;
  }
}

.role_title {
  text-transform: lowercase;
}

.custom_alert_style {
  .ui-growl-image {
    position: relative;
    top: 0;
    left: 0;
  }
  .ui-growl-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ui-growl-message {
    margin-left: 10px;
  }
}

.input_file {
  display: none !important;
}

.prew_img_wrapper {
  position: relative;
  img.form_prew_img {
    width: 100%;
  }
}

//----- END COMMON GLOBAL CLASSES------
ngx-datatable {
  overflow: inherit !important;
}



