<header *ngIf="isAuthorized">
  <div class="container main_header">
    <a [routerLink]="['']" class="logo_link">
      <img src="/assets/images/login_logo.png" alt="logo">
    </a>
    <ul>
      <li *ngIf="checkPermission('USER_GET')">
        <a class="app_navigation_link" [routerLink]="['/accounts']" routerLinkActive="active">
        <span>
        <fa-icon [icon]="userIcon"></fa-icon>
       Accounts
        </span>
        </a>
        <div *ngIf="checkPermission('ROLE_GET')" class="sub_menu" [ngClass]="setVisibility?'hide_menu_item':''" (click)="onSetVisibility()">
          <a class="app_navigation_link" [routerLink]="['/accounts/role_table']" routerLinkActive="active">
            <fa-icon [icon]="rmsIcon"></fa-icon>
            <span>RMS</span>
          </a>
        </div>
      </li>
      <li *ngIf="checkPermission('ROLE_GET')&&!checkPermission('USER_GET')">
        <a class="app_navigation_link" [routerLink]="['/accounts/role_table']" routerLinkActive="active">
          <fa-icon [icon]="rmsIcon"></fa-icon>
          <span>RMS</span>
        </a>
      </li>
      <li>
        <a class="app_navigation_link" [routerLink]="['/inbounds']" routerLinkActive="active">
          <span>Inbounds</span>
        </a>
      </li>
      <li>
        <a class="app_navigation_link" (click)="logout()">
          <fa-icon [icon]="lofOutIcon"></fa-icon>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
