<app-system-loader *ngIf="!isLoaded"></app-system-loader>
<a class="create_circle_btn d-flex justify-content-center align-items-center"
   tooltipPosition="left" pTooltip="New role"
   showDelay="200" hideDelay="200"
   (click)="createRoleModal()">
  <fa-icon [icon]="addIcon"></fa-icon>
</a>
<div class="container" *ngIf="isLoaded">
  <p-accordion>
    <p-accordionTab *ngFor="let per of permissionTable.parents" [selected]="true" header="{{per.name}}">
      <div style="overflow-y: auto">
        <table class="custom_table_roles table">
          <tr class="table_header">
            <td>
              <span style="font-weight: bold;font-size: 14px;color: #878787;">
                Permissions
              </span>
            </td>
            <td style="width: 10%" *ngFor="let role of permissionTable.roles">
              <div class="role_name_wrapper">
                <div class="role_name">{{role.name}}</div>
                <div *ngIf="role.name!=='ADMIN'" class="role_name_actions">
              <span style="margin-right: 3px" (click)="onEditRole(role)"
                    tooltipPosition="top" pTooltip="Edit"
                    showDelay="100" hideDelay="100">
              <fa-icon class="edit_icon" [icon]="editIcon"></fa-icon>
            </span>
                  <span (click)="confirmDeleteRole(deleteRoleTemplate,role)"
                        tooltipPosition="top" pTooltip="Delete"
                        showDelay="100" hideDelay="100">
              <fa-icon class="delete_icon" [icon]="deleteIcon"></fa-icon>
            </span>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let perm of per.permissions">
            <td class="permission_name">
              <span>{{perm.name}}</span>
            </td>
            <td *ngFor="let option of perm.options" class="{{option.roleId}} permission_td">
              <input [disabled]="option.roleId===admin.roleId" [checked]="option.hasAccess" [ngModel]="option.hasAccess"
                     (change)="onPermissionChange(perm, option)" type="checkbox"
                     attr.data-permissions="{{perm.id}}">
            </td>
          </tr>
        </table>
      </div>
    </p-accordionTab>
  </p-accordion>

  <!--Before Delete Role Template-->
  <ng-template #deleteRoleTemplate>
    <div class="modal-header">
      <h5 style="text-align: center" class="modal-title pull-left">Are you sure want to delete role <strong>{{deletedRole.name}}</strong>?
      </h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="app_btn" (click)="deleteRole(deletedRole.roleId)">Yes</button>
      <button type="button" class="app_btn" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
    </div>
  </ng-template>
</div>
